@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Neue Machina";
    src: local("Neue Machina"), url(../Section-1/Fonts/NeueMachina-Regular.ttf) format(truetype);
}

* {
    font-family: "Neue Machina";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.nav_logo {
    padding: 30px 30px 30px 30px;
}

header {
    height: max-content;
    padding-bottom: 70px;
}

nav {
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: nowrap;
}

.lang_nav {
    color: #fff;
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 1);
    margin: 40px 0 0 20px;
}

.lang_nav_ru {
    color: rgb(136, 136, 136);
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 1);
    margin: 40px 0 0 20px;
}

.lang_nav_ru:hover {
    color: #fff;
    transition: 0.1s;
}


.nav_num {
    color: #000032;
    text-decoration: none;
}

.nav_info {
    margin: 40px 0 0 600px;
}

.btn_nav {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin-left: 20px;
    color: #fff;
}

.burger_nav {
    width: 50px;
    margin: -10px 0 0 40px;
    position: absolute;
    height: 50px;
}

.back_btn {
    margin: 30px 0 0 50px;
}

.header_title {
    color: #000032;
    text-transform: uppercase;
    font-size: 55px;
    display: inline-block;
    margin: 50px 0 0 50px;
    position: absolute;
}

.header_info {
    color: #000032;
    font-size: 20px;
    margin: 8% 0 0 200px;
}

.name_input {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 10px 10px 5px;
    margin: 50px 20px 0 200px;
}

.phone_input {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 10px 10px 5px;
    margin: 50px 20px 0 20px;
}

.email_input {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 10px 10px 5px;
    margin: 50px 20px 0 20px;
}

.text_input {
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 10px 10px 10px 5px;
    margin: 50px 20px 0 20px;
    width: 675px;
    margin-left: 200px;
}

.check_input {
    width: 20px;
    height: 20px;
    margin: 20px 10px 0 200px;
}

.send_btn {
    background: linear-gradient(112.73deg, #1E4FC6 1.67%, #5E1EC6 100%);
    display: block;
    margin: 20px 0 0 200px;
    border-radius: 67px;
    height: 50px;
    width: 150px;
    border: 1px;
    color: #fff;
}

.send_btn:focus {
    background: linear-gradient(112.73deg, #0048ff 1.67%, #6200ff 100%);
}